body {
    margin: 0;
    background-color: #1B1B1B;
    font-family: DarkerGrotesque-Regular;

}

.loading-overlay {
    width: 100vw;
    height: 100vh;
    background-color: #1B1B1B;
    position: fixed;
    z-index: 999;
}

#black-logo {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 350px;
    opacity: 0;
    z-index: 999;
    transform: scale(0.7);
    box-shadow: var(--box-shadow);
}

.centered {
    width: 100%;
    height: 100%;
    position: relative;
}

.revealBlock {
    overflow: hidden;
    width: 350px;
    height: 140px;
    margin: auto;
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); */
}

.colored {
    z-index: 8;
    opacity: 0;
}

.logo {
    width: 350px;
    margin: auto;
    position: absolute;
}

/*  */
@font-face  {
    src: url('../fonts/DarkerGrotesque-Medium.ttf');
    font-family: DarkerGrotesque-Medium;
}

:root  {
    --soil-gold: #B09324;
    --gray1: #EAEBEA;
    --strong-gray: #B9B9B9;
    --stronger-gray: #969796;
    --blue: #0090FF;
    --box-shadow: 0px 0px 8px 4px rgba(0%, 0%, 0%, 10%);
}
*{
    /* background-color: var(--gray1); */
    font-family: DarkerGrotesque-Medium;
}
h1, p {
    margin: 0 !important;
}


.logo img{
    margin-top: 25px;
    width: 35%;
    height: auto;
}
.hashtag  {
    margin-top: 50px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    text-align: right;
}

/* main content */

/* left containt */
.left-content  {
    margin: 0 !important;
    padding: 0 !important;
}
.imgs {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.imgs > img{
    position: absolute;
    width: 60%;
    height: 60%;
    object-fit:cover ;
    border: 5px solid white;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}
#img-1{
    z-index: 4;
}
#img-2{
    transform: rotate(15deg);
    z-index: 3;
}
#img-3{
    transform: rotate(-15deg);
    z-index: 2;
}
#img-4{
    transform: rotate(25deg);
    z-index: 1;
}
/* mxh */
.mxh {
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 50px;
}
.mxh p {
    margin: 0 !important;
    font-weight: bold;
}
.icon {
    text-align: center;
}
.icon a {
    color: black;
    padding:0px 5px;
}


/* right content */
.right-content  {
    padding: 0 !important;
}
.tour {
    width: 90%;
}
.timeline {
    display: flex;
    justify-content: space-between;
}
.time p{
    background-color: var(--soil-gold);
    padding: 5px 20px;
    border-radius: 3px;
    color: white;
    font-weight: bolder;
}

.round span {
    color: var(--soil-gold);
    font-weight: bolder;
}

.content h1 {
    font-size: 60px;
    font-weight: bold;
}
.content p {
    font-size: 25px;
    word-spacing: 10px;
}
/* step bar */
.stepbar {
    padding: 50px 0 30px 0;
}
.progressbar {
    counter-reset: step;
    padding: 0;
}
.progressbar li {
    float: left;
    list-style: none;
    position: relative;
    text-align: center;
    width: calc(100% / 7);
}
.progressbar li:before {
    background-color: black;
    border: 1px solid #bebebe;
    border-radius: 50%;
    color: #bebebe;
    content: '';
    counter-increment: step;
    display: block;
    font-weight: 700;
    height: 16px;
    line-height: 27px;
    margin: auto;
    text-align: center;
    width: 16px;
}
.progressbar li:after {
    background: var(--stronger-gray);
    content: '';
    height: 3px;
    left: -50%;
    position: absolute;
    top: 7px;
    width: 100%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}

/* map */
.map {
    position: relative;
    height: 450px;
}
.map img {
    position: absolute;
    width: 100%;
    height: inherit;
    border-radius: 5px;
    object-fit: cover;
    z-index: -1;
    box-shadow: var(--box-shadow);
}
.gradient {
    width: inherit;
    height: inherit;
    background-image: linear-gradient(to right, rgba(128, 128, 128, 50%), rgba(255, 255, 255, 0%));      
    z-index: 1;
    border-radius: 5px;
}

@media screen and (max-width: 576px){
    .logo {
        text-align: center;
    }
    .hashtag {
        text-align: left;
    }
    .mxh {
        display: flex;
        justify-content: flex-end;
    }
#colored-logo {
    z-index: 10;
    transition: clip-path 1s ease-in-out;
    clip-path: inset(0 100% 0 0);
}

.test-swipe {
    text-align: center;
    line-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}