@font-face {
    font-family: PermanentMarker;
    src: url("/fonts/PermanentMarker-Regular.ttf");
}
@font-face {
    font-family: Papyrus;
    src: url("/fonts/Papyrus.ttc");
}
@font-face {
    font-family: "WorkSans";
    src: url("/fonts/WorkSans-Medium.ttf");
}
body,
html,
div {
    box-sizing: border-box;
}
body,
.layer {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: WorkSans;
}

/* -------------------------------------Layer Image------------------------------- */
.layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 700px;
    display: block;
    z-index: -2;
    width: 100%;
    /* overflow: hidden; */
}
.layer_0 {
    position: absolute;
    background-image: url("/img/fullwh/ta-nang-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.layer_1 {
    position: absolute;
    background-image: url("/img/fullwh/ta-nang-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.layer_2 {
    position: absolute;
    background-image: url("/img/fullwh/ta-nang-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.layer_3 {
    position: absolute;
    background-image: url("/img/fullwh/ta-nang-4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: inline-block;
}
.parralaxPos {
    position: fixed;
}

/* -------------------------------------Layer Image------------------------------- */

/* -------------------------------------main------------------------------- */
.main {
    margin: 0;
    padding: 20px 50px;
    position: relative;
    height: 700px;
}

.content {
    position: relative;
}
.title {
    color: #ff6311;
    padding-top: 60px;
    width: fit-content;
    opacity: 0;
    animation: superOpacity 1s ease-in;
    animation-fill-mode: forwards;
}
.title > h1 {
    font-family: PermanentMarker;
    letter-spacing: 5px;
    font-size: 140px;
    margin: 0;
    padding: 0;
}
.title > p {
    font-family: Papyrus;
    font-weight: bold;
    font-style: italic;
    font-size: 35px;
    width: 530px;
    letter-spacing: 2.5px;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.button {
    margin-top: 35px;
    word-spacing: 40px;
    font-size: 20px;
}
.linkButton {
    display: inline-block;
    position: relative;
    padding: 15px 20px;
    background-color: transparent;
    border: 4px solid #ff6311;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.5s ease-out;
    color: #ff6311;
}
.linkButton::after {
    content: "";
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    background-color: transparent;
    width: 0;
    transition: width 0.5s ease-out;
}

.linkButton:hover {
    background-color: transparent;
    /* border: 4px solid #ff6311; */
    color: white;
}
.linkButton:hover::after {
    width: 100%;

    background-color: #ff6311;
}

.map {
}
.map > a > img {
    position: fixed;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    border: 2px solid white;
    width: 20%;
    bottom: 30px;
    right: 50px;
}
/* -------------------------------------main------------------------------- */
#path {
    position: relative;
    /* animation: clipPath 3s ease-out 3s infinite reverse;
    animation-fill-mode: forwards; */
    clip-path: inset(0 0 0 0);
}
#markerStart {
    position: absolute;
    bottom: 0;
    left: 168px;
}
#markerEnd {
    position: absolute;
    bottom: 100%;
    left: 205px;
}
/* #childpath {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff6311;
    transition: height 1s ease-in;
}
#path:hover #chilpath {
    height: 50%;
} */

/* .locate {
    position: relative;
} */
.mainContent {
    height: 3000px;
    background-color: blueviolet;
    z-index: 99;
}
.wrapLayer {
    position: relative;
    height: 700px;
}
.page {
    position: relative;
}
.locate {
    position: absolute;
    max-width: 25%;
    height: 44%;
    right: 35%;
    top: 310px;
}

@keyframes superOpacity {
    to {
        opacity: 1;
    }
}
/* @keyframes clipPath {
    from {
        clip-path: inset(0 0 0 0);
    }
    to {
        clip-path: inset(100% 0 0 0);
    }
} */
